<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP API - Antoine MIGNIEN</title>
</head>
<body>
    <h1>Push une string !</h1>
    <form action="/" method="POST">
        <label for="input">Entrer la string à push </label>
        <input type="text" id="input" name="user_input" required>
        <button type="submit">Envoyer</button>
    </form>

    <h1>Lecure des fichier dans le conteneur {{ container_name }}</h1>

    {% if blobs %}
        <ul>
            {% for blob in blobs %}
                <li>{{ blob }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun fichier .txt trouvé.</p>
    {% endif %}
</body>
</html>